.App {
  font-size: 20;
  color: white;
  text-align: center;
  margin: 10px;
  background-color: #282c34;
}

body{
  color: #282c34;
}

h1 {
  color: white;
  font-family: 'Lato', sans-serif;
  font-size: 54px;
  font-weight: 300;
  line-height: 58px;
  margin: 0 0 58px;
}

.loading {
  text-align: center;
  color: white;
}

.date {
  background: #fe921f; 
  color: #ffffff;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 12px;
  letter-spacing: 1px;
  margin: 0 0 30px;
  padding: 10px 15px 8px;
  text-transform: uppercase;
  content: initial;
}

.verse {
  font-weight: 700;
  text-align: left;
}

.content {
  text-align: justify;
}
