.App {
  font-size: calc(10px + 1.5vmin);
  color: black;
  text-align: center;
  margin: 10px;
}

.loading {
  text-align: center;
  color: black;
}

.date {
  font-size: 14px;
  text-align: center;
}

.vers {
  font-weight: 700;
  text-align: left;
}

.content {
  text-align: justify;
}
